// Paleta de color
$color1: #514077;
$color2: #924992;
$color3: #FFAD01;
$black: #111;
$white: #fff;

//Fuentes
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400|Oswald:300,400');
    // Oswald para los titulos
    $font-title: 'Oswald', sans-serif;
    // Lato para los textos
    $font-text: 'Lato', sans-serif;

// Ancho de las fuentes
$light: 300;
$normal: 400;

// Layout
    $max-width: 1200px;
// Off canvas
    $offcanvas-width: 12em;

// Mixin para media query
@mixin desde($size){
    @media screen and (min-width: $size){
        @content;
    }
}

//breakpoints
$small: 480px;
$medium: 768px;
$large: 1025px;
$x-large: 1400px;

// Imports
    @import "components/base";
    @import "components/header";
    @import "components/menu";
    @import "components/banner";
    @import "components/buttons";
    @import "components/services";
    @import "components/staff";
    @import "components/modules";
    @import "components/contact";
    @import "components/footer";