* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    text-transform: uppercase;
    font-weight: $light;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

label, input, textarea {
    display: block;
}

main {
    padding-bottom: 4em;
}