// layout desde 1025px
@include desde($large){
    .contact {
        display: flex;
        justify-content: space-between;
        &-data,
        &-form-container{
            width: 49%;
        }
    }

}

// Contenedor del mapa
.contact-data {
    display: flex;
    flex-direction: column;
    @include desde($large){
        .contact-map {
            flex: 1;
            margin-bottom: 1em;
            iframe {
                height: 100%;
            }
        }
    }
    
    .contact-address,
    .contact-phone {
        opacity: .8;
        color: $color2;
        font-size: .85em;
        &:before {
            margin-right: .3em;
            position: relative;
            top: 2px;
        }
    }
    .contact-phone {
        margin-bottom: .8em;
    }
}

.contact-form-container {
    input, textarea{
        width: 100%;
        line-height: 1.7;
        border: 1px solid rgba(black,.25);
        margin-bottom: .8em;
    }
    label {
        font-size: .8em;
        opacity: .6;
    }
    [type="submit"]{
        text-transform: uppercase;
        line-height: 3;
        width: auto;
        cursor: pointer;
    }
}