//contenedor para cada .service
.services {
    @include desde($medium){
        display: flex;
    }
}

.service {
    background: $color1;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desde($medium){
        flex: 1 1 33.33%;
    }
    @include desde($large){
        height: 15em;
    }

    &:nth-of-type(2) {
        background: $color2;
    }

    &:nth-of-type(3){
        background: $color3;
        color: $color1;
    }
    &__title {
        margin: 0;
    }
}